/**
 * @file
 * Responsive embed CSS for the Adobe Captivate Field module output.
 *
 * Added to the page when when a field's 'size' display setting is 'responsive'.
 */

.adobe-captivate-container--responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.adobe-captivate-container--responsive iframe {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
