{#
/**
 * @file
 * Default theme implementation to display an embedded Adobe Captivate.
 *
 * Available variables:
 * - entity_title: The title of the entity with the Adobe Captivate field value.
 * - settings: An array of settings selected in the module's configuration and
 *   in the field's display settings.
 * - content_attributes: array of HTML attributes populated by modules, intended
 *   to be added to the iframe of the embedded Adobe Captivate.
 *   - src: The URL of the Adobe Captivate to be embedded. Contains a query string
 *     with parameter values derived from options selected in the module's
 *     configuration and the field's display settings.
 *   - width: A pixel or percentage value, derived from the display settings.
 *   - height: A pixel or percentage value, derived from the display settings.
 *   - id: A valid HTML ID and guaranteed unique.
 *   - title: A title value, assigned for accessibility.
 * - attributes: array of HTML attributes populated by modules, intended to be
 *   added to the element wrapping the embedded Adobe Captivate.
 *
 * @see template_preprocess_adobe_captivate_embed()
 *
 * @ingroup themeable
 */
#}
<figure{{ attributes }}>
  <iframe{{ content_attributes }}></iframe>
</figure>
